/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 13, 2015, 2:00:13 PM
    Author     : Jason
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 24, 2015, 4:31:25 PM
    Author     : Jason
*/

/* 
    Created on : May 8, 2015, 8:25:39 AM
    Author     : Roberta
*/
body{
     overflow: visible;
}
h1{
   color: green; 
    
}

#working{
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-name: thumb;
  -webkit-animation-name: thumb;  
}


#broken{
 -webkit-animation-duration: 2s;
         animation-duration: 2s;
 -webkit-animation-name: thumb;
         animation-name: thumb;
//common problem is not to include all of the browswers prefixes -webkit- Android, Chrome

    
}

@keyframes thumb {
    0% { -webkit-transform: scale(1) rotate(-10deg); transform: scale(1) rotate(-10deg);}
   50% { -webkit-transform: scale(0.5) rotate(10deg); transform: scale(0.5) rotate(10deg);} 
   75% {trasform: scale (0.9) rotate(-10deg);}
   100% {-webkit-transform: scale(1)rotate(10deg);transform: scale(1)rotate(10deg);}   
        
    }
     
  

@-webkit-keyframes thumb {
    
   0% { -webkit-transform: scale(1) rotate(-10deg);}
   50% { -webkit-transform: scale(0.5) rotate(10deg);}
   75% { -webkit-transform: scale(0.9)rotate(-10deg)}
   100% { -webkit-transform: scale(1) rotate(10deg);}
      
        
   }
    #main{  width: auto;
height: auto;
border: 1px solid blue;
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;

    -webkit-animation: mymove 5s infinite;
animation: mymove 5s infinite;
  
  -webkit-animation: fontgrow 3s infinite;
  animation: fontgrow 3s infinite;
  }
#main div:nth-of-type(1) {-webkit-box-flex: 1;-webkit-flex-grow: 1;-ms-flex-positive: 1;flex-grow: 1;}

  @-webkit-keyframes fontgrow {
   50% {font-size: 40px;}
   }
   

    @keyframes fontgrow {   
    50% { font-size: 60px; }
    }
p {
text-align: center;
}
#gone {
width: auto;
height: auto;
background-color:green;
}
